[submodule "samples/nicegraf-shaderc"]
	path = samples/nicegraf-shaderc
	url = https://github.com/nicebyte/nicegraf-shaderc
[submodule "samples/third-party/imgui"]
	path = samples/third-party/imgui
	url = https://github.com/ocornut/imgui
[submodule "samples/third-party/nicemath"]
	path = samples/third-party/nicemath
	url = https://github.com/nicebyte/nicemath
