*.tga;*.mesh filter=lfs diff=lfs merge=lfs -text
samples/binaries/assets/* filter=lfs diff=lfs merge=lfs -text
samples/deps/nicegraf-shaderc/* filter=lfs diff=lfs merge=lfs -text
*.exe;*.dll filter=lfs diff=lfs merge=lfs -text
samples/deps/nicegraf-shaderc/** filter=lfs diff=lfs merge=lfs -text
samples/binaries/assets/** filter=lfs diff=lfs merge=lfs -text
