build/*
tests/build/*
docs/doxygen/html
docs/doxygen/xml
docs/doxygen/latex
tests/ngf_tests
samples/binaries/*
!samples/binaries/assets/
!samples/binaries/assets/*
/out/build/x64-Debug
/.vs
samples-build-files/*
.gitmodules