*.tga;*.mesh filter=lfs diff=lfs merge=lfs 
samples/binaries/assets/* filter=lfs diff=lfs merge=lfs 
samples/deps/nicegraf-shaderc/* filter=lfs diff=lfs merge=lfs 
*.exe;*.dll filter=lfs diff=lfs merge=lfs 
samples/deps/nicegraf-shaderc/** filter=lfs diff=lfs merge=lfs 
samples/binaries/assets/** filter=lfs diff=lfs merge=lfs 
samples/deps/niceshade/win/niceshade.exe filter=lfs diff=lfs merge=lfs 
samples/deps/niceshade/linux/niceshade filter=lfs diff=lfs merge=lfs 
samples/deps/niceshade/macos/niceshade filter=lfs diff=lfs merge=lfs 
