[submodule "samples/deps/imgui"]
	path = samples/deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "samples/deps/nicemath"]
	path = samples/deps/nicemath
	url = https://github.com/nicebyte/nicemath
[submodule "samples/deps/glfw"]
	path = samples/deps/glfw
	url = https://github.com/glfw/glfw
	branch = 3.3-stable