body { max-width: 120ch; margin-left:auto; margin-right: auto;}
.memtitle { background-image: none }
.fieldtable th {background-image: none }
.sm-dox { background-image: none; background: #f9fafc }
h1.groupheader{ border-bottom: none; }
h2.groupheader{ border-bottom: none; }
h3.groupheader{ border-bottom: none; }
div.header { background-image: none; background: inherit; border-bottom: none; }
#titlearea { padding-bottom: 18pt }
div.header { margin-top: 8pt }
div.fragment { padding: 8pt }