name: Run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install_deps
      run: sudo apt install libx11-xcb-dev
    - name: make_build_dir
      run: mkdir -p build
    - name: run_cmake
      run: cd ./build && cmake .. -DNGF_BUILD_TESTS=yes
    - name: make
      run:  cd ./build && make internal-utils-tests && make vk-backend-tests
    - name: test
      run: ./build/internal-utils-tests && ./build/vk-backend-tests
